<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/single-post.css">
    <title>Document</title>
</head>
<body>
    <div id="single-container">
  <div class="post">
    
    <h1><%= blog.title %></h1>

    <p><%= blog.content %></p>

    <small>~Written by<%= blog.author %></small>

    <div class="actions">
      <!-- Edit -->
      <a href="/edit/<%= blog.id %>">
        <button class="edit-btn">Edit</button>
      </a>

      <!-- Delete -->
      <form action="/delete/<%= blog.id %>" method="POST">
        <button class="delete-btn">Delete</button>
      </form>
      <a href="/">
        <button class="edit-btn">Home</button>
      </a>
    </div>

  </div>
</div>
</body>
</html>